@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none;
  /* scrollbar-color: #121EC5 #ffffff; */
}

body{
    font-family: "Manrope", sans-serif;
    background-color: black;
}

@theme {
    --color-primary: #121EC5;
    --color-white: #FDFEFF;
    --color-muted: #51565b;
    --font-body: "Work Sans", sans-serif;  
}