@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body{
    font-family: 'Work Sans', sans-serif;
}

@theme {
    --color-primary: #b45dfc;
    --color-muted: #6c757d;
    --font-body: "Work Sans", sans-serif;  
}