@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #111dbf #ffffff;
}

body{
    font-family: 'Work Sans', sans-serif;
    background-color: black;
}

@theme {
    --color-primary: #111dbf;
    --color-muted: #6c757d;
    --font-body: "Work Sans", sans-serif;  
}